<div class="home-page" fxLayout="column" fxLayoutAlign="center stretch" >

    <div class="button-container" fxLayout="row" fxLayoutAlign="center stretch">
        <button class="button">3x3</button>
        <button class="button">4x4</button>
        <button class="button">5x5</button>
        <button class="button">6x6</button>
        <button class="button"></button> 
        <button class="button"></button>
        <button class="button"></button>
    </div>

    <div class="home-content" fxLayout="row" fxLayoutAlign="space-between stretch">
        
        <div class="content-left">
            <div><img src="../../../assets/images/untitled.png"></div>
        </div>

        <div class="content-right">
            <div class="header-text" fxLayout="row" fxLayoutAlign="center center">my 2048 clone </div>
            <div class="text-text"></div>
        </div>

    </div>
</div>
